@import '../styles/mixins.scss';

#__next {
  height: 100%;
}

html {
  height: 100%;
  user-select: none;
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 18px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: url('/fon.jpg') no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-color: #19142e;
  @include tablets() {
    background-color: #19142e;
    background-image: linear-gradient(
      to right bottom,
      #f4026b,
      #f10082,
      #e8009a,
      #da1cb2,
      #c533c9,
      #bd38c9,
      #b63cc9,
      #ae40c8,
      #b53ab3,
      #b736a0,
      #b7368e,
      #b3387e
    );
  }
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  display: block;
  cursor: pointer;
  color: #b3387e;
  text-align: center;
  padding: 5px 0 5px 0;
  font-size: 150%;
  &:hover {
    background: rgba(255, 255, 255, 0.3);
    color: white;
  }
}

.active {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    height: 100%;
    background: rgb(252, 94, 199);
  }
}

img {
  width: 100%;
  height: auto;
}

//  ERRORS
.errorBoundary {
  color: #ff686f;
}
.notFound {
  color: wheat;
}

// SKELETON LOADER FOR SKILLS PAGE
.css-1qtlriq-SkeletonTheme {
  width: 100%;
}
