.button {
  border-radius: 50px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: #fff;
  box-shadow: 2px 2px 3px #0c9;
  background-color: #0c9;
  cursor: pointer;
}
