.button {
  border-radius: 50px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: #FFF;
  box-shadow: 2px 2px 3px #0C9;
  background-color: #0C9;
  cursor: pointer;
}