@import '../../shared/styles/variables.scss';

.mailFormContainer {
  position: relative;
}

.mailForm {
  background: $black-transparent;
  padding: 3%;
  padding-top: 80px;
  padding-bottom: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
