@import '../styles/mixins.scss';

// Wrapp
.wrapp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 1100px;
  height: 100%;
  margin: 0 auto;
  @include tablets() {
    justify-content: start;
    height: auto;
  }
}

.main {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
  flex: 4;
  padding: 5%;
  overflow-y: auto;
  background: #19142ee8;
}

.content {
  display: flex;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  @include tablets() {
    flex-direction: column;
  }
}
.main::-webkit-scrollbar {
  width: 0.2em;
}

.main::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.main::-webkit-scrollbar-thumb {
  background-color: #ff4dae;
  outline: 1px solid #c81377;
}
