.toastContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  flex-direction: column;
  top: 0;
  width: 100%;
  text-align: center;
  font-size: 1.1em;
  font-weight: 900;
  text-transform: uppercase;
  color: white;
}

.close {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.success {
  background: #6bbd6e;
}

.info {
  background: #47a8f5;
}

.error {
  background: #f66359;
}
